body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #011638;
    color:#cdcdcd;    
}

header {
    padding-top: 30px;
}

main {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin: 5%;
    border: solid black 0.1em;
    border-radius: 25px;
    background-color: #364156;
}

.btn {
    flex-direction: column;
}

li {
    list-style-type: none;
}

.btn-grid {
    margin: auto;
    padding: 10px;
}